body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	height: 100vh;
	width: 100vw;
	background-color: aliceblue;
	background-size: var(--mouse-y) var(--mouse-y);
	background-image: radial-gradient(
		#F2F3F4 15%,
		transparent),
	linear-gradient(
	45deg,
	transparent var(--mouse-x), #D3D3D3 var(--mouse-x),
	#a8a8a8 52%, transparent 52%
	),
	
	linear-gradient(
		135deg,
		transparent 48%, #D3D3D3 48%,
		#a8a8a8 var(--mouse-x), transparent var(--mouse-x)
		);
}

/*animating background*/

:root {
	--mouse-x: 15%;
	--mouse-y: 100px;	
}

a {
	color:rgb(194, 161, 90);
	font: size 40px;
}

/* Main Stuff */

.main {
	display: flex;
	width: 4000px;
	overflow: scroll;  
}

.title {
	font-size:10vw;
	text-align:center;

}

.endmatter {
	margin-top: 50px;
	font-size: 2vw;
	text-align: center;

}

.content {
	text-indent:32px;

}

.content img {
	width:100%;

}

.content p {
	text-indent:32px;

}


/* Menu Button */

.menu {
	height: 100vh;
	width: 80%;
	background-color: white;
	position: fixed;
	right: 0px;
	top: 0px;
	margin-right: -80%;
	padding: 40px;
	box-shadow: -5px 0px 10px 2px gray;
	transition: 1s;
	overflow: scroll;
  
  }
  
  .menu.open {
	margin-right: -0;
	transition: 1s;
	background-color: #D3D3D3;
	background-image: radial-gradient(
		#F2F3F4 15%,
		transparent),
	linear-gradient(
	45deg,
	transparent 48%, #D3D3D3 48%,
	#a8a8a8 52%, transparent 52%
	),
	
	linear-gradient(
		135deg,
		transparent 48%, #D3D3D3 48%,
		#a8a8a8 52%, transparent 52%
		);


  }
  
  .nav {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 2;
  }
  
  .button {
	cursor: pointer;
	background-color:rgb(145, 145, 145);
	padding: 20px;
	box-shadow: -5px 0px 10px 2px gray;
	font-family:Georgia, 'Times New Roman', Times, serif;

  }
  

  /* Menu Text*/

  div.link {
	padding: 50px;
	text-overflow: scolling;
	
  }

  /* Buttons */

  div.when {
	margin-left: 200px;
	text-align: center;
	margin-top: 100px;
	text-align: center;

	
	}
	
	.when {
		cursor:pointer;
		display:inline-block;
	
	}

	div.when:hover {
		-webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		-moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		-ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		font-weight: normal;
		text-decoration: none !important;
		color: rgb(194, 161, 90);
		transition: all 300ms ease-in-out;


	  }

	.when.hide {
		display:none;
	
	}
	
	.date1 {
		display:none
	
	} 
	
	.date1.show {
		cursor:pointer;
		text-decoration:underline;
		display:inline-block;
		margin-top: 200px;	
	}

	div.date1.show:hover {
		-webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		-moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		-ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		font-weight: normal;
		text-decoration: none !important;
		color: rgb(194, 161, 90);
		transition: all 300ms ease-in-out;


	  }
	 
	.date2 {
		display:none;
	}
	
	.date2.show {
		display:inline-block;
		cursor:pointer;
		text-decoration:underline;
	}
	
	div.date2.show:hover {
		-webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		-moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		-ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		font-weight: normal;
		text-decoration: none !important;
		color: rgb(194, 161, 90);
		transition: all 300ms ease-in-out;


	  }


	.date3 {
		display:none;
	}
	
	.date3.show {
		display:inline-block;
		cursor:pointer;
		text-decoration:underline;
		margin-top:250px;
		margin-left:150px;
	}
	
	div.date3.show:hover {
		-webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		-moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		-ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		font-weight: normal;
		text-decoration: none !important;
		color: rgb(194, 161, 90);
		transition: all 300ms ease-in-out;


	  }


	.date4 {
		display: none;
	
	}
	
	.date4.show {
		display:inline-block;
		cursor:pointer;
		text-decoration:underline;
		margin-top:300px;
		margin-left:200px;

	
	}
	
	div.date4.show:hover {
		-webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		-moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		-ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		font-weight: normal;
		text-decoration: none !important;
		color: rgb(194, 161, 90);
		transition: all 300ms ease-in-out;


	  }


	.date5 {
		display: none;
	
	}
	
	.date5.show {
		display:inline-block;
		cursor:pointer;
		text-decoration:underline;
		margin-top:350px;
		margin-left:200px;
	}
	
	div.date5.show:hover {
		-webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		-moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		-ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		font-weight: normal;
		text-decoration: none !important;
		color: rgb(194, 161, 90);
		transition: all 300ms ease-in-out;


	  }


	.date6 {
		display: none;
	
	}
	
	.date6.show {
		display:inline-block;
		cursor:pointer;
		text-decoration:underline;
		margin-top:4000px;
		margin-left:200px;
	}
	
	div.date6.show:hover {
		-webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		-moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		-ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		font-weight: normal;
		text-decoration: none !important;
		color: rgb(194, 161, 90);
		transition: all 300ms ease-in-out;


	  }

	.date7 {
		display: none;
	
	}
	
	.date7.show {
		display:inline-block;
		cursor:pointer;
		text-decoration:underline;
		margin-top:400px;
		margin-left:200px;
	}
	
	div.date7.show:hover {
		-webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		-moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		-ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		font-weight: normal;
		text-decoration: none !important;
		color: rgb(194, 161, 90);
		transition: all 300ms ease-in-out;


	  }

	.date8 {
		display: none;
	
	}
	
	.date8.show {
		display:inline-block;
		cursor:pointer;
		text-decoration:underline;
		margin-top:450px;
		margin-left:250px;
	
	}
	
	div.date8:hover {
		-webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		-moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		-ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		font-weight: normal;
		text-decoration: none !important;
		color: rgb(194, 161, 90);
		transition: all 300ms ease-in-out;


	  }

	div.stardates {
		margin-left: 250px;
	
	}
	
/*  Buttons + Animation */

	div.buttons {
		text-align:center;
		padding-top: 30px;

	}
	  

	  @-webkit-keyframes pulsing {
		to {
		  box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
		}
	  }
	  
	  @-moz-keyframes pulsing {
		to {
		  box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
		}
	  }
	  
	  @-ms-keyframes pulsing {
		to {
		  box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
		}
	  }
	  
	  @keyframes pulsing {
		to {
		  box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
		}
	  }
	  
/*  Buttons  */


	.spiderbutton {
		display: none;
	
	}
	
	.spiderbutton.show {
		display:inline-block;
		cursor:pointer;
		text-decoration:underline;
	
	}
	
	div.spiderbutton.show:hover {
		-webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		-moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		-ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		font-weight: normal;
		text-decoration: none !important;
		color: rgb(194, 161, 90);
		transition: all 300ms ease-in-out;


	  }

	.logo1button {
		display: none;
	
	}
	
	.logo1button.show {
		display:inline-block;
		cursor:pointer;
		text-decoration:underline;
	
	}
	
	div.logo1button.show:hover {
		-webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		-moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		-ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		font-weight: normal;
		text-decoration: none !important;
		color: rgb(194, 161, 90);
		transition: all 300ms ease-in-out;


	  }



	.trafficsignbutton {
		display: none;
	
	}
	
	.trafficsignbutton.show {
		display:inline-block;
		cursor:pointer;
		text-decoration:underline;
	
	}
	
	div.trafficsignbutton.show:hover {
		-webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		-moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		-ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		font-weight: normal;
		text-decoration: none !important;
		color: rgb(194, 161, 90);
		transition: all 300ms ease-in-out;


	  }


	.famouslogobutton {
		display: none;
	
	}
	
	.famouslogobutton.show {
		display:inline-block;
		cursor:pointer;
		text-decoration:underline;
	
	}

	div.famouslogobutton.show:hover {
		-webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		-moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		-ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		font-weight: normal;
		text-decoration: none !important;
		color: rgb(194, 161, 90);
		transition: all 300ms ease-in-out;


	  }

	.logodesignbutton {
		display: none;
	
	}
	
	.logodesignbutton.show {
		display:inline-block;
		cursor:pointer;
		text-decoration:underline;
	
	}

	div.logodesignbutton.show:hover {
		-webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		-moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		-ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		font-weight: normal;
		text-decoration: none !important;
		color: rgb(194, 161, 90);
		transition: all 300ms ease-in-out;


	  }


	.mapsymbolsbutton {
		display: none;
	}


	.mapsymbolsbutton.show {
		display:inline-block;
		cursor:pointer;
		text-decoration:underline;
	
	}

	div.mapsymbolsbutton.show:hover {
		-webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		-moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		-ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		font-weight: normal;
		text-decoration: none !important;
		color: rgb(194, 161, 90);
		transition: all 300ms ease-in-out;


	  }


	.purposelogobutton {
		display: none;
	}


	.purposelogobutton.show {
		display:inline-block;
		cursor:pointer;
		text-decoration:underline;
	
	}


	div.purposelogobutton.show:hover {
		-webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		-moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		-ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		font-weight: normal;
		text-decoration: none !important;
		color: rgb(194, 161, 90);
		transition: all 300ms ease-in-out;


	  }



	.applelogobutton {
		display: none;
	}


	.applelogobutton.show {
		display:inline-block;
		cursor:pointer;
		text-decoration:underline;
	
	}


	div.applelogobutton.show:hover {
		-webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		-moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		-ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
		font-weight: normal;
		text-decoration: none !important;
		color: rgb(194, 161, 90);
		transition: all 300ms ease-in-out;


	  }

	
	
/* Images */


.pictures {
	width: auto;
	height: 10vw;
	transition:transform 0.25s ease;
	margin-left: 200px;
	margin-top: 100px;

}

.pictures:hover {
    -webkit-transform:scale(2);
    transform:scale(2);
}

div.spiderwebpic {
	display:none;
}

div.spiderwebpic.show {
	display:inline-block;

}


div.applelogopic {
	display:none;
}

div.applelogopic.show {
	display:inline-block;

}


div.logo1pic {
	display:none;

}

div.logo1pic.show {
	display:inline-block;

}


div.trafficsignpic {
	display:none;

}

div.trafficsignpic.show {
	display:inline-block;

}


div.famouslogopic {
	display:none;

}

div.famouslogopic.show {
	display:inline-block;

}

div.mapsymbolspic {
	display:none;

}

div.mapsymbolspic.show {
	display:inline-block;

}

div.purposelogopic {
	display:none;

}

div.purposelogopic.show {
	display:inline-block;

}

div.applelogopic {
	display:none;

}

div.applelogopic.show {
	display:inline-block;

}


/* Text Visible and Invisible */

div.spiderweb{
	display: none;

}

div.spiderweb.show {
	display:inline-block;
	margin-bottom: 200px;
	border:3px solid rgb(0, 0, 0);
	padding:20px;
	
}

div.logo1 {
	display: none;

}

div.logo1.show {
	display:inline-block;
	margin-bottom: 200px;
	border:3px solid rgb(0, 0, 0);
	padding:20px;
}

div.trafficsign {
	display: none;

}

div.trafficsign.show {
	display:inline-block;
	margin-bottom: 200px;
	border:3px solid rgb(0, 0, 0);
	padding:20px;
}

div.famouslogo {
	display: none;

}

div.famouslogo.show {
	display:inline-block;
	margin-bottom: 200px;
	border:3px solid rgb(0, 0, 0);
	padding:20px;
}


div.mapsymbols {
	display: none;

}

div.mapsymbols.show {
	display:inline-block;
	margin-bottom: 200px;
	border:3px solid rgb(0, 0, 0);
	padding:20px;
}

div.purposelogo {
	display: none;

}

div.purposelogo.show {
	display:inline-block;
	margin-bottom: 200px;
	border:3px solid rgb(0, 0, 0);
	padding:20px;
}

div.applelogo {
	display: none;

}

div.applelogo.show {
	display:inline-block;
	margin-bottom: 200px;
	border:3px solid rgb(0, 0, 0);
	padding:20px;
}

